## 3.1

In [ ]:

SELECT d_Pessoa.ID_PESSOA, 
        d_Pessoa.NM_PESSOA,
        d_Tempo.DT_REF,
        f_Vendas.VL_VENDA
FROM f_Vendas
INNER JOIN d_Pessoa ON 
    f_Vendas.ID_PESSOA =  d_Pessoa.ID_PESSOA
INNER JOIN d_Tempo ON
    f_Vendas.ID_TEMPO = d_Tempo.ID_TEMPO
INNER JOIN d_Loja ON
    f_Vendas.ID_LOJA = d_Loja.ID_LOJA
WHERE d_Tempo.NU_MES = 1
        AND d_Loja.DS_UF = 'CE';
        AND d_Tempo.NU_ANO = 2020

## 3.2

In [ ]:
SELECT d_Pessoa.ID_PESSOA,
        COUNT(f_Vendas.NU_VENDA)
FROM f_Vendas
INNER JOIN d_Pessoa ON
    f_Vendas.ID_PESSOA = d_Pessoa.ID_PESSOA
INNER JOIN d_Tempo ON
    f_Vendas.ID_TEMPO = d_Tempo.ID_TEMPO
WHERE d_Tempo.NU_MES = 3
    AND d_Tempo.NU_ANO = 2020
GROUP BY d_Pessoa.ID_PESSOA;

## 3.3

In [ ]:
SELECT d_Pessoa.ID_PESSOA,
        d_Pessoa.NM_PESSOA
FROM d_Pessoa
WHERE d_Pessoa.ID_PESSOA NOT IN (SELECT d_Pessoa.ID_PESSOA
                FROM f_Vendas
                INNER JOIN d_Tempo ON
                f_Vendas.ID_TEMPO = d_Tempo.ID_TEMPO
                WHERE d_Tempo.NU_ANO = 2020
                AND d_Tempo.NU_MES = 3
                AND f_Vendas.ID_PESSOA = d_Pessoa.ID_PESSOA);

## 3.4

In [ ]:
SELECT d_Pessoa.ID_PESSOA,
        d_Pessoa.NM_PESSOA,
        MAX(d_Tempo.DT_REF)
FROM f_Vendas
INNER JOIN d_Pessoa ON
    f_Vendas.ID_PESSOA = d_Pessoa.ID_PESSOA
INNER JOIN d_Tempo ON
    f_Vendas.ID_TEMPO = d_Tempo.ID_TEMPO
GROUP BY d_Pessoa.ID_PESSOA, d_Pessoa.NM_PESSOA;